html {
  font-family: Helvetica, serif;
}

.container-card {
  width: 100%;
  height: 300px;
}

.container {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}
.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-weather-info {
  display: flex;
  justify-content: center;
}
.icon-settings {
  position: absolute;
  right: 15px;
  top: 5px;
}
.header-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  margin-top: 20px;
  cursor: grab;
}
